.container{
    position: relative;
    height: 700px;
    width: 450px;
    border-radius: 15px;
    overflow: auto;
    border: 1px solid wheat;
    background: #5b48343f;
}


.box{
    position: sticky;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.boxS{
    position: sticky;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

@media (max-width: 1200px){
    .container{
        width: 350px;
        border-radius: 15px;
    }
    
}

@media (max-width: 700px){
    .container{
        width: 80%;
    }
}

@media (max-width: 400px){
    .container{
        height: 450px;
        width: 90%;
    }
}