.container{
    height: 650px;
    width: 400px;
    background: red;
    border-radius: 15px;
    overflow: hidden;
    overflow: auto;
}

@media (max-width: 1200px){
    .container{
        /* height: 500px; */
        width: 350px;
        background: rgb(0, 221, 255);
        border-radius: 15px;
    }
    
}

@media (max-width: 700px){
    .container{
        background: blueviolet;
        /* height: 500px; */
        width: 350px;
    }
}

@media (max-width: 400px){
    .container{
        background: rgb(226, 43, 186);
        height: 450px;
        width: 80%;
    }
}