.container{
    margin: 50px auto 0 auto;
    width: 95%;
    height: 700px;
    position: relative;
}

.box1{
    position: absolute;
    /* width: 65.5%; */
    width: 68%;
    height: 99%;

    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    filter:drop-shadow(0px 0px 5px wheat) brightness(50%);
    cursor: pointer;
    transition: 0.6s;
}

.containerS{
    visibility: hidden;
    display: none;
}


.base .box:hover {
    scale: 1.01;
    filter:drop-shadow(0px 0px 5px wheat) brightness(100%);
}

.box:hover + .des{
    display: none;
}

.box2{
    position: absolute;
    width: 38%;
    height: 46.5%;
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
    filter:drop-shadow(0px 0px 5px wheat) brightness(50%);
    cursor: pointer;
    transition: 0.6s;

}

.box3{
    position: absolute;
    width: 48.5%;
    height: 46%;
    background-position: center;
    background-size: cover;
    bottom: 5%;
    right: 0;
    filter:drop-shadow(0px 0px 5px wheat) brightness(50%);
    cursor: pointer;
    transition: 0.6s;
}

.des{
    position: absolute;
    font-weight: 500;
    font-size: 4rem;
    font-weight: 700;
    pointer-events:none;
    transition: 0.6s;
}

.vs{
    bottom: 20%;
    right: 14%;
}

.train{
    top: 15%;
    right: 4%;
}

.tour{
    top: 42%;
    left: 5%;
}


.card_box{
    width:95%;
    height: 100px;
    background: red;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    border: 1px solid #FFCE9D;
    cursor: pointer;
}

.back1{
    background: url('../../picture/tournement11.png');
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.back2{
    background: url('../../picture/bot1.png');
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.back3{
    background: url('../../picture/1vs1.png');
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.over{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.card_box:hover{
    border: 0;
}
.card_box:hover .des{
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 1px white;
    font-size: 45px;
    transform: rotate(5deg);
}
.card_box:hover .over{
    background: rgba(0, 0, 0, 0);
    font-size: 100px;
}

@media (max-width: 2300px){
    .container{
        height: 700px;
    }
}

@media (max-width: 2200px){

    .des{
        font-size: 3rem;
    }
}

@media (max-width: 2000px){
    .container{
        height: 600px;
    }
}

@media (max-width: 1900px){
    .container{
        height: 500px;
        /* background: red; */
    }
    .des{
        font-size: 2.5rem;
    }
    .vs{
        bottom: 20%;
        right: 16%;
    }
    
    .train{
        top: 17%;
        right: 5%;
    }
    
    .tour{
        top: 44%;
        left: 10%;
    }
    
}

@media (max-width: 1700px){
    .container{
        margin-top: 30px;
        height: 770px;
        /* background: gold; */
    }

    .vs{
        bottom: 22%;
        right: 19%;
    }
    
    .train{
        top: 18%;
        right: 10%;
    }
    
    .tour{
        top: 42%;
        left: 16%;
    }
}

@media (max-width: 1500px){
    .container{
        width: 95%;
        /* background: rgb(255, 136, 0); */
    }
    .des{
        font-size: 3rem;
    }
    .vs{
        bottom: 20%;
        right: 18%;
    }
    
    .train{
        top: 18%;
        right: 7%;
    }
    
    .tour{
        top: 45%;
        left: 10%;
    }
}

@media (max-width: 1200px){
    .container{
        height: 700px;
        width: 95%;
        /* background: rgb(4, 255, 0); */
    }
}


@media (max-width: 1000px){
    .container{
        height: 650px;
        /* background: rgb(0, 170, 255); */
    }
    .des{
        font-size: 2rem;
    }
    .vs{
        bottom: 22%;
        right: 17%;
    }
    
    .train{
        top: 20%;
        right: 7%;
    }
    
    .tour{
        top: 45%;
        left: 14%;
    }
}

@media (max-width: 800px){
    .container{
        height: 500px;
        /* background: rgb(0, 0, 0); */
    }
}

@media (max-width: 700px){
    .container{
        height: 300px;
        /* background: rgb(255, 255, 255); */
    }
    .des{
        font-size: 1.5rem;
    }
    .vs{
        bottom: 20%;
        right: 14%;
    }
    
    .train{
        top: 15%;
        right: 4%;
    }
    
    .tour{
        top: 42%;
        left: 8%;
    }
}

@media (max-width: 600px){
    .container{
        height: 300px;
        /* background: rgb(26, 0, 82); */
    }
}

@media (max-width: 500px){
    .container{
        display: none;
        visibility: hidden;
    }
    .containerS{
        display:block;
        visibility: visible;
        margin: auto;
        position: relative;
        width: 95%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
}