.container{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card{
    border:1px solid white;
    height: 750px;
    width: 500px;
    border-radius: 15px;
    background: #1B1611;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap:30px;
}


.layer{
    position: relative;
    flex: 6;
    height: 10;
    /* width: 100%; */
}

.container_logo{
    margin: 15px 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.inputs{
    overflow-y: auto;
    background: #1B1611;
}

.im{
    margin-top: 15px;
    width: 150px;
    height: 0.50px;
    opacity: 0.5;
}

.logo_im{
    margin-top: 10px;
    width: 100px;
}

.fields{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.holders{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #564636;
    border-radius: 15px;
    border: 2px solid #646464;
}


.email{
    width: 75%;
    background: transparent;
    outline: none;
    padding: 15px 15px;
}

.email:-webkit-autofill,
.email:-webkit-autofill:hover,
.email:-webkit-autofill:focus,
.email:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
}

.email:-moz-autofill {
    box-shadow: 0 0 0 30px transparent inset !important;
    -moz-text-fill-color: #000 !important;
}


.signup{
    padding: 15px;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;

}

.signup:hover{
    padding: 15px;
    background: #FBFBEE;
    border: 2px solid white;
    color: #564636;

}

.change{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

}

.change_in{
    margin-top: 10px;
    width: 90%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}
.change_in:hover{
    text-decoration: underline;
    opacity: 1;
}

.inside{
    margin-top: 10px;
}

.Singin{
    color: white;
    padding: 0 5px;
}

.both_l{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container_choice{
    background: red;
    top:0;
}

.gof_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}

.google{
    padding: 15px;
    background: #FBFBEE;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.school{
    padding: 15px;
    background: #FBFBEE;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.google:hover{
    padding: 15px;
    background: #564636;
    color: #FBFBEE;
    cursor: pointer;
    transition: 0.5s;
}

.school:hover{
    padding: 15px;
    background: #564636;
    color: #FBFBEE;
    cursor: pointer;
    transition: 0.5s;
}

.google_logo{
    background: url('./google.svg');
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.school_logo{
    background: url('./42.svg');
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

@keyframes move_up {
    0% {
        bottom: -70%;
    }
    30% {
        bottom: -45%;
    }
    60%{
        bottom: -30%;
    }
    80%{
        bottom: -15%;
    }
    100%{
        bottom: 0%;
    }
}


@media (max-width: 600px){
    .card{
        position: absolute;
        height: 70%;
        width: 100%;
        border-radius: 15px 15px 0 0;
        bottom: 0%;
        animation: move_up 0.5s ease-in-out alternate;
    }
}

@media (max-height: 1000px) and (max-width: 600px){
    .card{
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 15px 15px 0 0;
        /* top: 100%; */
        
    }
}

.closed{
    position: absolute;
    left: 5%;
    top: 7%;
    cursor: pointer;
    color: #564636;
    transition: 0.5s;
}

.closed:hover{
    opacity: 0.7;
}